<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Free Code Camp - Image Search Abstraction Layer Microservice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  </head>
  <body class=" hasGoogleVoiceExt">
    <div class="container">
      <h1 class="header">
          Free Code Camp - Image Search Abstraction Layer Microservice
      </h1>
      <blockquote>
        <p>User stories:</p>
        <ul>
          <li>1) I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>      
          <li>2) I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
        </ul>
      </blockquote>
        
      <h3>Example usage:</h3>
      <code>https://resolutedreamer-fcc-imagesearchabstractionlayermicroservice.gomix.me/api/imagesearch/lolcats%20funny?offset=10</code>
      <br>
      <code>https://resolutedreamer-fcc-imagesearchabstractionlayermicroservice.gomix.me/api/latest/imagesearch/</code>
    </div>
  </body>
</html>